@{
    ViewData["Title"] = "Cadastar Empresa";

}
@model EmpresaModel;

<div class="row">
      <form class="needs-validation" novalidate="" asp-action="Create">
       
          <div class="form-group">
            <label for="exampleInputEmail1">codigo da Empresa</label>
            <input type="text" class="form-control" id="codigo" asp-for="codigo" placeholder="codigo" >
          </div>
                   
          <div class="form-group">
            <label for="exampleInputEmail1">Nome da Empresa</label>
            <input type="text" class="form-control" id="NomeEmpresa" asp-for="NomeEmpresa" placeholder="Nome" >
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Nome Fantasia</label>
            <input type="text" class="form-control" id="NomeFantasia" asp-for="NomeFantasia" placeholder="Nome Fantasia" >
          </div>

           <div class="form-group">
            <label for="exampleInputEmail1">CNPJ</label>
            <input type="text" class="form-control" id="CNPJ" aria-describedby="emailHelp" asp-for="CNPJ" placeholder="CNPJ">
          </div>
           
        
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Todos os dados são verdadeiros</label>
          </div>
          <button type="submit" href="#" class="btn btn-primary">Confirmar</button>
    </form>

</div>

<script>
 
      function redirectHome(){
        window.location.href="../Home/index";
    }

</script>